<div class="task-info-container-header">
    <div id="task-info-name">
        {% if choosen_task %}
            {{choosen_task.name}}
        {% else %}
            No tasks
        {% endif %}
    </div>
</div>
<span class="separator first"></span>
<div class="task-info-container">
    {% if choosen_task %}
        <div class="task-info-description task-info-item">
            <div class="task-info-header">Description: </div>                  
            <div class="task-info-description-content task-info-item-content">{{choosen_task.description}}</div>
        </div>
        <div class="task-info-resources task-info-item">
            <div class="task-info-header">Resources: </div>
            <div class="task-info-resources-content task-info-item-content">
                {% if choosen_task.taskresources_set.all %}
                    {% for task_res in choosen_task.taskresources_set.all %}
                        <a href="">{{ task_res.resource.name }} ({{ task_res.amount }}){% if not forloop.last %}, {% endif %}</a>
                    {% endfor %}
                {% else %}
                    No resources
                {% endif %}
            </div>
        </div>
        <div class="task-info-group task-info-item">
            <div class="task-info-header">Group: </div>
            <div class="task-info-group-content task-info-item-content">
                {% if choosen_task.group %}
                    <a href="">{{ choosen_task.group }}</a>
                {% else %}
                    No group
                {% endif %}
            </div>
        </div>
        <div class="task-info-time task-info-item">
            <div class="task-info-header">Time: </div>
            <div class="task-info-time-content task-info-item-content">
                {% if current_time.date > choosen_task.date or current_time.time > choosen_task.time_end %}         
                    <span style="color: red;">!</span> 
                {% endif %}
                {{ choosen_task.time_start|date:'H:i' }} - {{ choosen_task.time_end|date:'H:i' }}
            </div>
        </div>
    {% endif %}
</div>

