{% extends 'main/base.html' %}
{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'main/css/tasks.css' %}"> {% endblock %}

{% load static %}
{% block script %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'main/js/script.js' %}" defer></script> 
{% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block content %}  
    <div class="content">
        <div class="left-side-menu">
            <a href="" class="menu-item">Add Task</a>
            <a href="" class="menu-item">Add Resources</a>
            <a href="" class="menu-item">Add Groups</a>
            <a href="" class="menu-item">Watch All</a>
            <form method="get" class="menu-item">
                <label for="date">Date: </label>
                <input type="date" name="date" id="date" onchange="this.form.submit()" value="{{ date|date:'Y-m-d' }}">
            </form>
        </div>
        <div class="info-container">
            <div class="today-tasks-container">
                <div class="today-tasks-container-header">
                    <div class="date-field">{{ date|date:"M. d, Y" }}</div>
                    <button type="button" class="add-task-button">+</button>
                </div>
                <span class="separator first"></span>
                <div class="tasks-wrapper">
                    {% if tasks %}
                        {% for task in tasks %}
                            <div class="task-field-wrapper {% if task.is_completed %} completed-task {% endif %}">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="request_name" value="change_task_state">
                                    <input type="hidden" name="task_id" value="{{ task.get_encrypted_id }}">
                                    <input type="checkbox" name="task_state" onchange="this.form.submit()"
                                    value="{% if task.is_completed %}1{%else%}0{% endif %}"
                                    {% if task.is_completed %} checked {% endif %}>
                                </form>
                                <button type="button" class="task-field" data-task-id="{{ task.get_encrypted_id }}">
                                    <div class="task-name"><span class="task-name-content scrollable">{{ task.name }}</span></div>
                                    <div class="end-time">
                                        <img src="{% static 'main/icons/time.png' %}" alt="time">
                                        {{task.time_end}}
                                    </div>
                                </button>
                                <div class="buttons-block">
                                    
                                    <button type="button" class="edit-task-button" data-task-id="{{ task.get_encrypted_id }}">
                                        <img src="{% static 'main/icons/edit.png' %}" alt="show">
                                    </button>
                                    <button type="button" class="delete-task-button" data-task-id="{{ task.get_encrypted_id }}">
                                        <img src="{% static 'main/icons/delete.png' %}" alt="show">
                                    </button>
                                </div>
                                <!-- <a href=""> |<strong> <big> </big> </strong> |  </a> -->
                            </div>
                            <span class="separator"></span>               
                        {% endfor %}
                    {% else %}
                        <h1>No tasks for this day</h1>
                    {% endif %}
                </div>
            </div>
            <div class="choosen-task-container">
                <div class="choosen-task-container-header">
                    <div id="choosen-task-name">
                        {% if choosen_task %}
                            {{choosen_task.name}}
                        {% else %}
                            No tasks
                        {% endif %}
                    </div>
                </div>
                <span class="separator first"></span>
                <div class="choosen-task-info-container">
                    {% if choosen_task %}
                        <div class="choosen-task-description">Description:                   
                            <div class="choosen-task-description-content">{{choosen_task.description}}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- <div class="right-side-menu">
                
            </div> -->
        </div>
    </div>

{% endblock %}