{% extends 'main/base.html' %}
{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'main/css/tasks.css' %}"> {% endblock %}

{% load static %}
{% block script %} <script src="{% static 'main/js/script.js' %}" defer></script> {% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block content %}  
    <div class="left-side-menu">
        <a href="" class="menu-item">Add Task</a>
        <a href="" class="menu-item">Add Resources</a>
        <a href="" class="menu-item">Add Groups</a>
        <a href="" class="menu-item">Watch All</a>
    </div>

{% endblock %}