.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-side-menu{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.menu-item{
    color: var(--fourth-color);
    text-decoration: none;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.menu-item:hover{
    color: var(--secondary-color);
    background-color: var(--third-color);
}

.info-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
}

.today-tasks-container, .choosen-task-container{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 10px 30px;
    padding: 20px;
    background-color: var(--third-color); 
    border-radius: 20px;
    box-sizing: border-box;
    height: calc(100% - 20px);
}

.choosen-task-container{
    margin-left: 0;
}

.tasks-wrapper, .choosen-task-info-container{
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;    
  }
  
::-webkit-scrollbar-track {
    margin: 10px 0px 10px 40px;
    background: #f1f1f1;
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.today-tasks-container-header, .choosen-task-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.date-field, #choosen-task-name{
    font-size: 30px;
    font-weight: 800; 
}

.task-field-wrapper{  
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 20px;
    padding: 20px 20px;
}

.task-field-wrapper.completed-task{
    position: relative;
}

.task-field-wrapper.completed-task::after{
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    background-color: black;
    height: 3px;
}

.task-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.task-field:hover{
    transform: scale(1.01);
}

.task-field img{
    vertical-align: middle;
    height: 25px;
    width: auto;
}

.buttons-block button{    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: hidden;
    cursor: pointer;
}

.buttons-block button:hover{
    transform: scale(1.2);
}

.buttons-block button img{
    height: 22px;
    width: auto;
}

.task-name{
    margin: 0px 20px;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;   
    text-align: center;
}

.scrollable{
    display: inline-block;
}

.scroll{
    animation: scroll 5s linear infinite; 
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.end-time{
    flex-shrink: 0;
}

.add-task-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: 800;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.add-task-button:hover{
    transform: scale(1.1);
}

.separator{
    display: block;
    height: 5px;
    width: 97%;
    background-color: var(--separation-color);
    border-radius: 150px;
}

.separator.first{
    background-color: var(--primary-color);
    width: 100%;
}

.buttons-block{
    display: flex;
    flex-direction: row;
}

.choosen-task-info-item {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 10px;
}

.choosen-task-info-header{
    flex: 1;
}

.choosen-task-info-item-content{
    flex: 2;
    padding: 0px 5px;
    line-height: 1.5;
    height: calc(2 * 1.5em);
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;
    background-color: var(--fourth-color);
    border: 2px solid var(--separation-color);
    border-radius: 10px;
}

.right-side-menu{
    padding: 10px 30px;
    color: var(--fourth-color);
    background-color: var(--secondary-color);
}

#date{
    margin-left: 8px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--secondary-color); 
    background-color: var(--fourth-color)
}

#date:focus{
    outline: none;
}
