.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.left-side-menu{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.menu-item{
    color: var(--fourth-color);
    text-decoration: none;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.menu-item:hover{
    color: var(--secondary-color);
    background-color: var(--third-color);
}

.info-container{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding: 10px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
}

.today-tasks-container, .task-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 40%;
    padding: 20px;
    background-color: var(--third-color); 
    border-radius: 20px;
    max-height: calc(100% - 20px);
}

.task-container{
    
    margin-left: 30px;
}

.tasks-wrapper, .task-info-container{
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;    
  }
  
::-webkit-scrollbar-track {
    margin: 10px 0px 10px 40px;
    background: #f1f1f1;
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.today-tasks-container-header, .task-info-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.date-field, #task-info-name{
    font-size: 30px;
    font-weight: 800; 
}

.task-field-wrapper{  
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 20px;
    padding: 20px 20px;
}

.task-field-wrapper.completed-task{
    position: relative;
}

.task-field-wrapper.completed-task::after{
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    background-color: black;
    height: 3px;
}

.priority-sign{
    margin-right: 2%;
}

.task-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.task-field:hover{
    transform: scale(1.01);
}

.task-field img{
    vertical-align: middle;
    height: 25px;
    width: auto;
}

.buttons-block button{    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: hidden;
    cursor: pointer;
}

.buttons-block button:hover{
    transform: scale(1.2);
}

.buttons-block button img{
    height: 22px;
    width: auto;
}

.task-name{
    margin: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;   
    text-align: center;
}

.scrollable{
    display: inline-block;
}

.scroll{
    animation: scroll 5s linear infinite; 
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.add-task-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: 800;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.add-task-button:hover{
    transform: scale(1.1);
}

.separator{
    display: block;
    height: 5px;
    width: 97%;
    background-color: var(--separation-color);
    border-radius: 150px;
}

.separator.first{
    background-color: var(--primary-color);
    width: 100%;
}

.buttons-block{
    display: flex;
    flex-direction: row;
}

.task-info-item {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 10px;
}

.task-info-header{
    flex: 1;
}

.task-info-item-content{
    flex: 2;
    padding: 0px 5px;
    line-height: 1.5;
    height: calc(2 * 1.5em);
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;
    background-color: var(--fourth-color);
    border: 2px solid var(--separation-color);
    border-radius: 10px;
}

.right-side-menu{
    padding: 10px 30px;
    color: var(--fourth-color);
    background-color: var(--secondary-color);
}

#date{
    margin-left: 8px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--secondary-color); 
    background-color: var(--fourth-color)
}

#date:focus{
    outline: none;
}

.task-info-container{
    align-items: center;
}

#add-edit-task-form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#add-edit-task-form input, textarea, select, button{
    color: var(--primary-color);
}

#add-task-form input{
    color: var(--primary-color);
}

#add-edit-task-form input[type="text"]{
    max-width: 50%;
    border: none;
    background-color: transparent;
    padding: 0;
}

#add-edit-task-form textarea{
    color: var(--primary-color);
    font-size: 20px;
    resize: none;
}

#add-edit-task-form input[type="text"]:focus{
    outline: none;
}

#add-edit-task-form input[type="time"]{
    font-size: 20px;
    background-color: var(--separation-color);
    padding-left: 5px;
    border: none;
    border-radius: 20px;
}

#add-edit-task-form select:not(#task-priority-select){
    font-size: 20px;
}

#resource-select, #resource-count{
    border: none;
    background-color: transparent;
}

#resource-count{
    font-size: 20px;
    width: 2em;
}

#resource-select:focus, #resource-count:focus{
    outline: none;
}

.resources-edit{
    flex: 2;
    height: calc(2 * 1.5em);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.resources-edit::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    background-color: var(--separation-color);
    width: 2px;
}

.resources-edit button{
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
}

.resources-edit button:hover{
    background-color: var(--separation-color);
}

.resource-first-column, .resource-second-column{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 100%; 
}

.resource-first-column{
    margin-left: -5px;
}

.resource-second-column{
    margin-right: -5px;
}

#submit-adding-task-button{
    width: 100%;
    margin-top: auto;
    font-size: 20px;
    text-align: center;
    border: 2px solid var(--separation-color);
    border-radius: 10px;
    background-color: var(--fourth-color);
}

#submit-adding-task-button:hover{
    background-color: var(--separation-color);
}

.task-time-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.task-time-container .item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;  
}

.task-time-container label{
    line-height: normal;
    font-size: 14px;
    margin: 0px 3px;
}

