{% load static %}
{% if action %} 
    <form method="POST"> 
    {% csrf_token %}
    <input type="hidden" name="action" value="{{action}}_resource">
    {% if action == 'edit' %}
    <input type="hidden" name="resource_id" value="{{ choosen_resource.get_encrypted_id }}">
    {% endif %}
{% endif %}
    <div class="resources-container-header">
        <div class="resource-choose-field">
            {% if not action %}
                <label for="resource-select">Resource: </label>
                <select name="resource-select" id="resource-select">
                    {% if resources %}
                        {% for resource in resources %}
                            <option value="{{ resource.get_encrypted_id }}"
                            {% if resource == choosen_resource %} selected {% endif %}>{{ resource }}</option>
                        {% endfor  %}
                    {% endif %}
                </select>
            {% else %}
                <label for="resource-name">Resource: </label>
                <input type="text" name="resource-name" id="resource-name"
                placeholder="Name"
                value="{% if action == 'edit' %}{{ choosen_resource }}{% endif %}">
            {% endif %}       
        </div>
        <button type="button" class="add-resource-button">+</button>
    </div>
    <span class="separator first"></span>
    <div class="resource-info-content">
        <div class="resource-info-description resource-info-item">
            <div class="resource-info-header">Description: </div> 
            {% if action %}
                <textarea class="resource-info-description-content resource-info-item-content" placeholder="Description"
                name="description" id="description">{% if action == 'edit' %}{{ choosen_resource.description }}{% endif %}</textarea>
            {% else %}
                <div class="resource-info-description-content resource-info-item-content">
                    {% if choosen_resource %}{{choosen_resource.description}}{% endif %}
                </div>            
            {% endif %}                     
        </div>
        <div class="resource-info-color resource-info-item">
            <div class="resource-info-header">Price: </div>  
            <div class="resource-info-color-content resource-info-item-content">
            {% if action %}                
                <input type="number" step="0.01" name="price" id="price" min="0"
                value="{% if action == 'edit' %}{{choosen_resource.price}}{% else %}0{% endif %}">
            {% else %}       
                {% if choosen_resource %}{{choosen_resource.price}} ${% endif %}
            {% endif %}
            </div>
        </div> 
        <div class="resource-info-item">
            <button type="button" id="edit-resource-button" class="control-button"
            data-resource-id="{{ choosen_resource.get_encrypted_id }}"
            {% if action == 'edit' %} disabled {% endif %}>Edit</button>
            <button type="button" id="delete-resource-button" class="control-button"
            data-resource-id="{{ choosen_resource.get_encrypted_id }}"
            {% if action %} disabled {% endif %}>Delete</button>
            <button type="submit" id="save-resource-button" class="control-button" {% if not action %} disabled {% endif %}>Save</button>
        </div> 
    </div>